/* || Common elements */
body{
    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* || Specific elements */

/* ||| Default styles */

#etch_container {
    width: 800px;
    max-width: 800px;
    height: 800px;
    max-height: 800px;
    border: solid 2px black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pixel {
    width: 8px;
    max-width: 8px;
    height: 8px;
    max-height: 8px;
}
/* ||| alternative styles */

.black_pixel {
    background-color: black;
}